*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	margin:0 auto;
	padding-left: 80px;
	padding-right: 80px;
	width: 960px;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
	margin-bottom: 22px;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
	border-radius: 10px;
	display: inline-block;
	margin: 0;
	background: #eaeae6;
}
.btn-alt {
	border:2px solid #eaeae6;
	padding: 10px 20px;
}

/*
  ========================================
  Home
  ========================================
*/
 .hero {
 	padding: 22px 100px 66px 100px;
 }

